.navbar{
    position: fixed;
    top: 0;
}

/* Gallery Grid */
.gallery-grid {
    top: 10vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1200px;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar{
        position: relative;
    }

}

@media (max-width: 480px) {
  
}
